*{
    padding: 0px;
    margin: 0px;
    border: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button{
    width: 150px;
    height: 40px;
    background-color: greenyellow;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    border: 4px solid #888;
}
.curso{
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}
.destaque{
    background-color: #444 !important;
    color: #fcc !important;
    border-color: #444;
}
.c1{
    background-color: pink;
    color: #444;
    border-radius: 8px;
}
.c2{
    background-color: pink;
    color: #444;
    border-radius: 8px;
}
.caixa{
    border: 4px solid #000;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}